.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a2332;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar-logo a {
  font-size: 1.5rem;
  color: #ff9100;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center; 
}

.navbar-links a, .logout-button {
  color: #fff;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: bold;
}

.navbar-links a:hover, .logout-button:hover {
  text-decoration: underline;
}

.logout-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.navbar-icon {
  margin-left: 1.5rem; 
  display: flex;
  align-items: center;
}
