/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #1a2332;
  color: #fff;
  margin-top: 6rem;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Navbar Styles */
nav {
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}

nav button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  nav a {
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  p {
    font-size: 14px;
    text-align: justify;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 5px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }
}
